body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #bfe3f6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;/
    margin-bottom: 20px;
}


.intro p {
    line-height: 1.6;
}

.favorites {
    margin-top: 20px;
}

.favorites ul {
    list-style-type: none;
    padding: 0;
}

.favorites li {
    margin-bottom: 5px;
}

.contact {
    margin-top: 20px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}
